@import './base.css';

body {
  overflow: hidden;
}
#root{
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  user-select: none;
}
main{
  display: flex;
  flex-direction: column;
}
.base{
  padding: 30px 40px;
  min-height: calc(100vh - 40px);
  background-color: #F1F1F1;
}